 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 986px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 201px;
  height: auto;
  margin: 35px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 750px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 2px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 30px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 378px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 47px 253px 0 274px;
}

.u-section-1 .u-image-1 {
  width: 368px;
  height: 28px;
  margin: 47px 90px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 460px;
  height: 28px;
  margin: -28px auto 0 47px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 66px 528px 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 26px 253px 0 274px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-bottom: 1px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 153px;
    margin-left: 174px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 435px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 153px;
    margin-left: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 9px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 43px;
    margin-left: 64px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 333px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 43px;
    margin-left: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 40px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -431px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 21px;
    margin-top: -26px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -208px;
    margin-right: 157px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 538px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 75px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 776px;
  margin: -1px auto 19px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 381px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 223px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 45px auto 0 60px;
  padding: 27px 57px 28px;
}

.u-section-2 .u-icon-2 {
  font-size: 4.25em;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 381px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 35px 0 45px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 145px auto 0 20px;
  padding: 11px 50px 11px 49px;
}

.u-section-2 .u-icon-3 {
  font-size: 1.3em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 32px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 21px;
    margin-left: 31px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}